<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Input Multipler</title>
  </head>
  <body>
    <main>
        <nav class="nav-bar">
            <a href="./index.html"><h3>Input Multiplier</h3></a>
        </nav>
      <div class="form-container">
        <form>
          <p>Form Submition</p>
          <div class="form-area">
            <label for="name">Enter Text</label>
            <input type="text" name="name" id="name" class="form-input" autocomplete="false" />
          </div>
          <button type="submit" class="submit">Submit</button>
        </form>
      </div>
      <div class="text-area">
      </div>
    </main>

    <script src="./main.js"></script>
  </body>
</html>
